.deliveryBtns {
    height: 150px;
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    background-color: white;
}

.active {
    border-color: var(--bgColor);
    background-color: var(--mainColor);
    color: black !important;
}

.proceedToPay{
    background-color: var(--mainColor);
    color: black;
    border: 2px solid var(--bgColor);
    font-weight: 700;
    padding: 10px 0px;
    border-radius: 20px;
}

.count{
    color: var(--greenColor);
    font-weight: bold;
}

.storeText{
    color: var(--greenColor);
    &:hover{
        text-decoration: underline;
    }
}