.form-select {
    width: 6.25rem;
}

.form-select option:hover {
    font-size: 50px;
}

.checkoutBtn {
    padding: .5rem 1.875rem;
    border-radius: 1.875rem;
    color: var(--greenColor);
    outline: none;
    border: var(--bgColor) 2px solid;
    background-color: white;
    transition: all 0.2s;
}

.checkoutBtn:hover {
    color: white;
    background-color: var(--mainColor);

}
.removeAll{
    transform: translateX(50%);
}

.deleteItem{
    font-style: normal !important;
}