<div *ngIf="cartData" class="cartSection">

    <div class="d-flex px-3">
        <div class="d-flex align-items-center mb-4 flex-grow-1">
            <i class="fa-solid fa-bag-shopping fs-1 me-2"></i>
            <h2 class="m-0 fw-bold">My Cart</h2>
            <span (click)="clearCart()" class="ms-auto text-danger text-decoration-underline clickable removeAll">Remove
                all</span>
        </div>
        <span class="align-self-end">Price</span>
    </div>
    <hr class="m-0 mb-3">




    <div class="px-3" *ngIf="cartData">

        <div class="" *ngFor="let item of cartData.data.products">

            <div class="d-flex gap-4">

                <div>
                    <img [src]="item.product.imageCover" class="fixedHeight clickable" [alt]="item.product.title" [routerLink]="['/productDetails',item.product._id]">
                </div>

                <div class="flex-grow-1">
                    <div class="d-flex">
                        <p class="fs-5 m-0">{{item.product.title }}</p>
                        <h5 class="ms-auto fw-bold">{{item.price|currency:'EGP ':'symbol'}}</h5>
                    </div>

                    <div>
                        <!-- <p class="fsxsm text-success">In Stock "Availability: {{item.product.quantity}}"</p> -->
                        <p class="fsxsm text-success">In Stock "Availability: 220"</p>
                        <select (change)="changeQuantityManual(item.product._id,$event)" id="select"
                            class="form-select">
                            <option [value]="item.count" selected disabled>Qty: {{item.count}}</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>

                        <!-- <div class="d-flex col-2" *ngIf="input">
                            <input #inputElement class="me-2 form-control" type="text">
                            <button (click)="updateCartNumber(item.product._id)"
                                class="btn btn-success justify-content-center">Update</button>
                        </div> -->

                        <button (click)="deleteCartItem(item.product._id,$event)" class="btn btn-danger p-0 mt-4">
                            <i class="fa-solid fa-trash py-2 px-3 fssm deleteItem"> Delete Item</i>
                        </button>
                    </div>

                </div>

            </div>

            <hr>

        </div>
    </div>



    <div class="d-flex justify-content-between px-3">
        <p class="fw-bold fs-3">Total Price</p>
        <p class="fw-bold fs-3">{{cartData.data.totalCartPrice|currency:"EGP ":"symbol"}}</p>
    </div>


    <div>
        <button class="checkoutBtn fs-5 d-block ms-auto mt-3" [routerLink]="['/checkout',cartData.data._id]">Proceed to
            Checkout</button>
    </div>

</div>

<div *ngIf="!cartData" class="d-flex align-items-center justify-content-center">
    <img class="w-75" src="./assets/images/images/emptyCart.png" alt="">
</div>


<!-- //? Commented -->
<!-- <div class="d-inline-block">
                    <input class="number form-control text-center mb-3" type="text" disabled
                        [value]="item.count|quantity">
                    <div class="d-flex gap-3 justify-content-around">
                        <button class="btn-success btn">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button class="btn btn-danger">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                    </div>
                </div> -->
<!-- //? Commented -->