<div class="footernBtn">
    <button (click)="scrollToTop()" class="d-block btn fw-bold w-100 py-2">Back to Top</button>
</div>

<div class="footerContainer py-5">

    <div class="container">

        <div>

            <h3 class="fw-bold">Get FreshCart App</h3>
            <p>We will send you a link, open it on your phone to download the app.</p>

            <form class="d-flex mx-3">
                <input type="email" class="w-75 me-3 form-control" placeholder="Enter your email ...">
                <button class="btn btn-success w-25"> Share app link</button>
            </form>

        </div>

        <hr class="text-secondary">

        <div class="mx-3 d-flex justify-content-between align-items-center">

            <div>
                <span class="fs-5 me-3">Payment Partners</span>
                <img class="fixedPixels me-2" src="./assets/images/images/2560px-Amazon_Pay_logo.svg.png" alt="">
                <img class="fixedPixels me-2" src="./assets/images/images/free-american-express-6-675747.webp" alt="">
                <img class="fixedPixels me-2" src="./assets/images/images/2560px-PayPal_logo.svg.png" alt="">
                <img class="fixedPixels me-2" src="./assets/images/images/MasterCard_Logo.svg.webp" alt="">
            </div>

            <div class="d-flex align-items-center">
                <span class="fs-5 me-3">Get deliveries with FreshCart</span>
                <img class="fixedPixels2 me-2" src="./assets/images/images/Download_on_the_App_Store_Badge.svg.png"
                    alt="">
                <img class="fixedPixels2 me-2" src="./assets/images/images/Google_Play_Store_badge_EN.svg.png" alt="">
            </div>

        </div>

        <hr class="text-secondary">

    </div>
</div>