<div *ngIf="productDetails" class="row g py-5">

    <div class="col-md-5 d-flex justify-content-end position-relative">

        <div class="w-75 mt-3">

            <owl-carousel-o [options]="customOptions">

                <ng-container *ngFor="let slide of productDetails.images">
                    <ng-template carouselSlide>
                        <img [src]="slide">
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>

    </div>

    <div class="col-md-6">

        <div class="d-flex justify-content-center">

            <div>
                <p class="mainColor textShadow mb-2">{{productDetails.category.name}}</p>
                <h3 class="fw">{{productDetails.title}}</h3>
                <p>{{productDetails.description}}.</p>
                <i class="fa-solid fa-star text-warning me-1"></i>
                <span class="me-2 fw">{{productDetails.ratingsAverage}}</span>
                <span class="mainColor textShadow">({{productDetails.ratingsQuantity}} reviews)</span>
                <p class="mt-2 fw fs-5">{{productDetails.price|currency:'EGP '}}</p>
                <hr class="my-3">

                <div class="d-flex">
                    <button id="addToCartBtn" class="btn btn-success w-25 me-2" (click)="addToCart(productDetails._id)">Add to
                        cart</button>
                    <button (click)="addToWishlist(productDetails._id)" class="wishlist">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                </div>

                <hr class="my-3">

                <table class="table borderless text-muted">

                    <tbody>
                        <tr>
                            <td class="w-25 pb-3">Availability:</td>
                            <td>In Stock</td>
                        </tr>

                        <tr>
                            <td class="w-25 pb-3">Quantity:</td>
                            <td class="w-25 pb-3">{{productDetails.quantity}}</td>
                        </tr>

                        <tr>
                            <td class="w-25 pb-3">Shipping:</td>
                            <td class="fssm pb-3">01 day shipping. (Free pickup today)</td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>

<!-- <div>

            <nav class="mb-3">
                <div class="d-flex list-unstyled fw-bold">

                    <li class="position-relative me-4">
                        <a class="nav-link2 text-muted text-decoration-none clickable"
                            routerLinkActive="active2">Product Details</a>
                    </li>

                    <li class="position-relative">
                        <a class="nav-link2 text-muted text-decoration-none clickable">Information</a>
                    </li>

                </div>
                <hr>
            </nav>



            <div>
                <div>
                    <h4>Nutrient Value & Benefits</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, tellus iaculis
                        urna
                        bibendum in lacus, integer. Id imperdiet vitae varius sed magnis eu nisi nunc sit. Vel, varius
                        habitant ornare ac rhoncus. Consequat risus facilisis ante ipsum netus risus adipiscing sagittis
                        sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>

                <div>
                    <h4>Storage Tips</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, tellus iaculis
                        urna
                        bibendum in lacus, integer. Id imperdiet vitae varius sed magnis eu nisi nunc sit. Vel, varius
                        habitant ornare ac rhoncus. Consequat risus facilisis ante ipsum netus risus adipiscing sagittis
                        sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>

                <div>
                    <h4>Unit</h4>
                    <p class="text-muted">{{productDetails?.quantity}} Unit</p>
                </div>

                <div>
                    <h4>Seller</h4>
                    <p class="text-muted">DMart Pvt. LTD</p>
                </div>
            </div>

        </div> -->


<!-- Nav tabs -->
<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link taps active fw-bold" id="productDetails-tab" data-bs-toggle="tab"
            data-bs-target="#productDetails" type="button" role="tab" aria-controls="productDetails"
            aria-selected="true">Product Details</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link taps fw-bold" id="Information-tab" data-bs-toggle="tab" data-bs-target="#Information"
            type="button" role="tab" aria-controls="Information" aria-selected="false">Information</button>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

    <div class="tab-pane active" id="productDetails" role="tabpanel" aria-labelledby="productDetails-tab" tabindex="0">

        <div>
            <h4 class="text-black">Nutrient Value & Benefits</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, tellus
                iaculis urna
                bibendum in lacus, integer. Id imperdiet vitae varius sed magnis eu nisi nunc sit. Vel,
                varius
                habitant ornare ac rhoncus. Consequat risus facilisis ante ipsum netus risus adipiscing
                sagittis
                sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div>
            <h4 class="text-black">Storage Tips</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, tellus
                iaculis urna
                bibendum in lacus, integer. Id imperdiet vitae varius sed magnis eu nisi nunc sit. Vel,
                varius
                habitant ornare ac rhoncus. Consequat risus facilisis ante ipsum netus risus adipiscing
                sagittis
                sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div>
            <h4 class="text-black">Unit</h4>
            <p class="text-muted">{{productDetails?.quantity}} Unit</p>
        </div>

        <div>
            <h4 class="text-black">Seller</h4>
            <p class="text-muted">DMart Pvt. LTD</p>
        </div>

    </div>

    <div class="tab-pane " id="Information" role="tabpanel" aria-labelledby="Information-tab" tabindex="1">

        <div class="d-flex noStretch">
            <table class="table w-50 me-4 table-striped text-muted">

                <tbody>
                    <tr>
                        <td>Weight</td>
                        <td>1000 Grams</td>
                    </tr>
                    <tr>
                        <td>Ingredient Type</td>
                        <td>Vegetarian</td>
                    </tr>
                    <tr>
                        <td>Brand</td>
                        <td>Dmart</td>
                    </tr>
                    <tr>
                        <td>Item Package Quantity</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Form</td>
                        <td>Larry the Bird</td>
                    </tr>
                    <tr>
                        <td>Manufacturer</td>
                        <td>Dmart</td>
                    </tr>
                    <tr>
                        <td>Net Quantity</td>
                        <td>340.0 Gram</td>
                    </tr>
                    <tr>
                        <td>Product Dimensions</td>
                        <td>9.6 x 7.49 x 18.49 cm</td>
                    </tr>
                </tbody>

            </table>

            <table class="table w-50 table-striped text-muted">

                <tbody>
                    <tr>
                        <td>ASIN</td>
                        <td>SB0025UJ75W</td>
                    </tr>
                    <tr>
                        <td>Best Sellers Rank</td>
                        <td>#2 in Fruits</td>
                    </tr>
                    <tr>
                        <td>Date First Available</td>
                        <td>30 April 2022</td>
                    </tr>
                    <tr>
                        <td>Item Weight</td>
                        <td>500g</td>
                    </tr>

                </tbody>

            </table>
        </div>


    </div>
</div>