<nav class="navbar navbar-expand-lg bg-gradient">
    <div class="container">

        <img routerLink="home" src="./assets/images/freshcart-logo.svg" alt="" class="clickable">

        <div class="d-flex">
            <li *ngIf="isLogged && cartSmall"
                class="nav-item d-flex align-items-center me-4 fs-4 clickable position-relative" routerLink="/cart">
                <i class="position-relative fa-solid fa-cart-shopping text-success">
                    <span *ngIf="noOfCartItems" class="noOfCartCounter">{{noOfCartItems}}</span>
                </i>
                <div *ngIf="cartNotMessage" class="cartMessage position-absolute border border-2 rounded-2">
                    <p class="m-0 fs-6">Your product has been added to your cart Successfully!</p>
                </div>
            </li>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul *ngIf="isLogged" class="navbar-nav ms-3 mb-lg-0 fw-bold">
                <li class="nav-item">
                    <a class="nav-link me-2" routerLinkActive="active" routerLink="/home">Home</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link me-2" routerLinkActive="active" routerLink="/cart">Cart</a>
                </li>
                <li class="nav-item position-relative">
                    <a class="nav-link me-2" routerLinkActive="active" routerLink="/wishlist">Wishlist</a>
                    <div *ngIf="wishlistNotMessage" class="wishlistMessage position-absolute border border-2 rounded-2">
                        <p class="m-0 fs-6">Your product has been added to your wishlist Successfully!</p>
                        <i class="fa-regular fa-circle-check fw-bold"></i>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2" routerLinkActive="active" routerLink="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2" routerLinkActive="active" routerLink="/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2" routerLinkActive="active" routerLink="/brands">Brands</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">

                <li *ngIf="!isLogged" class="nav-item">
                    <a class="nav-link me-2" routerLinkActive="active" routerLink="/register">Register</a>
                </li>

                <li *ngIf="!isLogged" class="nav-item">
                    <a class="nav-link me-2" routerLinkActive="active" routerLink="/login">Login</a>
                </li>

                <li *ngIf="isLogged &&!cartSmall"
                    class="nav-item d-flex align-items-center me-4 clickable position-relative" routerLink="/cart">
                    <i class="position-relative fa-solid fa-cart-shopping fs-4 text-success">
                        <span *ngIf="noOfCartItems" class="noOfCartCounter">{{noOfCartItems}}</span>
                    </i>
                    <div *ngIf="cartNotMessage" class="cartMessage position-absolute border border-2 rounded-2">
                        <p class="m-0 fs-6">Your product has been added to your cart Successfully!</p>
                        <i class="fa-regular fa-circle-check fw-bold"></i>
                    </div>
                </li>

                <li *ngIf="isLogged" class="nav-item d-flex align-items-center justify-content-center">
                    <i class="fa-brands fa-facebook-f me-3 clickable"></i>
                    <i class="fa-brands fa-twitter me-3 clickable"></i>
                    <i class="fa-brands fa-instagram me-3 clickable"></i>
                    <i class="fa-brands fa-youtube me-3 clickable"></i>
                    <i class="fa-brands fa-tiktok me-3 clickable"></i>
                </li>

                <li *ngIf="isLogged" class="nav-item d-flex align-items-center">
                    <span class="nav-link me-3 clickable" (click)="logout()">Logout</span>
                </li>



            </ul>

        </div>

    </div>
</nav>

<div *ngIf="_loading.loadingScreen |async" class="containSpinner">
    <div>
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
</div>