.noOfCartCounter {
    font-size: 10px;
    color: white;
    border-radius: 50%;
    padding: 5px 7px;
    background-color: rgb(9, 184, 9);
    position: absolute;
    left: 100%;
    top: 0%;
    transform: translate(-50%, -50%);
}

.cartSpinner {
    position: absolute;
    left: 100%;
    top: 0%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* animation: spin 2s infinite linear; */
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
        position: absolute;

    }

    100% {
        transform: rotateZ(360deg);
        position: absolute;

    }
}