.noOfCartCounter {
    font-size: .75rem;
    color: var(--greenColor);
    font-weight: 700;
    border-radius: 50%;
    padding: 5px 7px;
    background-color: var(--bgColor);
    position: absolute;
    left: 100%;
    top: 0%;
    transform: translate(-50%, -50%);
}

nav {
    background-color: var(--mainColor);
    font-size: 1.0625rem;
    padding: .75rem 0rem;
}

.cartMessage {
    text-align: center;
    width: 250px;
    left: 0;
    top: 100%;
    transform: translate(-50%, 0);
    background-color: var(--greenColor);
    color: white;
    padding: 10px;
    opacity: 0;
    animation: animateCartMessage 1s forwards;
}

@keyframes animateCartMessage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.wishlistMessage {
    text-align: center;
    width: 250px;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    background-color: var(--greenColor);
    color: white;
    padding: 10px;
    opacity: 0;
    animation: animateWishlistMessage 1s forwards;
}

@keyframes animateWishlistMessage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}