<div class="position-absolute zIndex w-100 bg-body-secondary top-0 h-100 start-0">


    <div class="p-5 position-absolute col-4 start-50 top-50 translate-middle bg-white shadow rounded-4">


        <div *ngIf="!requestSent" class="pb-3">
            <h2 class="fw-bold fs-1">Forgot your password?</h2>

            <div class="d-flex align-items-center  mb-3">
                <p class="emailLabel m-0 my-3">Please enter the email you use to sign in to</p>
                <img class="w-25" src="assets/images/freshcart-logo.svg">
            </div>

            <form (ngSubmit)="resetPassword(forgetPasswordForm)" [formGroup]="forgetPasswordForm">

                <label class="emailLabel mb-2" for="email">Enter your email address</label>
                <input formControlName="email" placeholder="Username@domainname.extension"
                    class="emailInput d-block p-1 w-100" type="email" id="email">
                <button [disabled]="disableBtn"
                    class="position-relative btn btn-primary mx-auto mt-5 px-5 d-block rounded-1">Request password
                    reset</button>

            </form>
            <div *ngIf="!entered" class="alert alert-danger mt-3 text-center">
                <p class="m-0">You haven't entered any email adress</p>
            </div>

        </div>

        <div *ngIf="requestSent" class="pb-3">
            <h2 class="fw-bold fs-1">Forgot your password?</h2>



            <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode(resetCodeForm)">
                <p class="emailLabel m-0 my-3">Please enter the code that has been sent to your email</p>

                <input id="input" formControlName="resetCode" placeholder="Reset code"
                    class="codeInput d-block p-1 w-100" type="text">
                <button class="position-relative btn btn-primary mx-auto mt-4 px-5 d-block rounded-1">Submit</button>

            </form>

            <div *ngIf="resetCodeErrorMessage" class="alert alert-danger mt-3 text-center">
                <p class="m-0">{{resetCodeErrorMessage}}</p>
            </div>

        </div>


    </div>


</div>