<div class="position-absolute zIndex w-100 bg-body-secondary top-0 h-100 start-0">


    <div class="p-5 position-absolute col-5 start-50 top-50 translate-middle bg-white shadow rounded-4">


        <div *ngIf="forgetPasswordPage" class="pb-3">
            <h2 class="fw-bold fs-1">Forgot your password?</h2>

            <div class="d-flex align-items-center mb-1">
                <p class="emailLabel m-0 my-3">Please enter the email you use to sign in to</p>
                <img class="w-25" src="assets/images/freshcart-logo.svg">
            </div>

            <form (ngSubmit)="resetPassword(forgetPasswordForm)" [formGroup]="forgetPasswordForm">

                <label class="emailLabel mb-2" for="email">Enter your email address</label>
                <input formControlName="email" placeholder="Username@domainname.extension"
                    class="emailInput d-block p-1 w-100" type="email" id="email">
                <button [disabled]="disableBtn"
                    class="position-relative btn btn-success mx-auto mt-5 px-5 d-block rounded-1">Request password
                    reset code
                    <i *ngIf="disableBtn" class="fa-solid fa-spinner fa-spin ms-2"></i>

                </button>

            </form>

            <div *ngIf="!enteredEmail" class="alert alert-danger mt-4 text-center">
                <p class="m-0">You haven't entered any email adress</p>
            </div>

            <div *ngIf="forgetPasswordErrorMessage" class="alert alert-danger mt-4 text-center">
                <p class="m-0">{{forgetPasswordErrorMessage}}</p>
            </div>

        </div>

        <div *ngIf="resetCodePage" class="pb-3">
            <h2 class="fw-bold fs-1">Forgot your password?</h2>

            <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode(resetCodeForm)">
                <p class="emailLabel m-0 my-3">Please enter the code that has been sent to your email</p>

                <input formControlName="resetCode" placeholder="Reset code" class="codeInput d-block p-1 w-100"
                    type="text">
                <button [disabled]="disableBtn"
                    class="position-relative btn btn-success mx-auto mt-4 px-5 d-block rounded-1">
                    Send code
                    <i *ngIf="disableBtn" class="fa-solid fa-spinner fa-spin ms-2"></i>
                </button>

            </form>

            <div *ngIf="resetCodeErrorMessage" class="alert alert-danger mt-3 text-center">
                <p class="m-0">{{resetCodeErrorMessage}}</p>
            </div>

        </div>

        <div *ngIf="newPasswordPage">

            <h2 class="fw-bold fs-1 mb-3">Forgot your password?</h2>

            <form [formGroup]="newPasswordForm" (ngSubmit)="newPassword(newPasswordForm)">

                <div class="mb-4">

                    <label class="emailLabel mb-2">Email</label>
                    <input formControlName="email" placeholder="Enter your email"
                        class="codeInput d-block p-1 w-100 mb-2" type="text">
                    <div class="alert alert-danger fssm"
                        *ngIf="newPasswordForm.get('email')?.errors && newPasswordForm.get('email')?.touched ">
                        <p class="m-0" *ngIf="newPasswordForm.get('email')?.getError('required')">
                            Email is required</p>
                        <p class="m-0" *ngIf="newPasswordForm.get('email')?.getError('email')">
                            Enter a valid email address</p>
                    </div>

                </div>

                <div>
                    <label class="emailLabel mb-2">New Password</label>
                    <input formControlName="newPassword" placeholder="Enter new password"
                        class="codeInput d-block p-1 w-100 mb-2" type="password">

                    <div class="alert alert-danger fssm"
                        *ngIf="newPasswordForm.get('newPassword')?.errors && newPasswordForm.get('newPassword')?.touched ">
                        <p class="m-0" *ngIf="newPasswordForm.get('newPassword')?.getError('required')">
                            Password is required</p>
                        <p class="m-0 p-0" *ngIf="newPasswordForm.get('newPassword')?.getError('pattern')">
                            Minimum eight characters, at least one uppercase letter, one lowercase letter, one number
                            and
                            one special character</p>
                    </div>

                </div>

                <button [disabled]="disableBtn" [disabled]="newPasswordForm.invalid"
                    class="btn btn-success mx-auto mt-4 px-5 d-block rounded-1">Submit
                    <i *ngIf="disableBtn" class="fa-solid fa-spinner fa-spin ms-2"></i>
                </button>

            </form>

            <div *ngIf="newPasswordErrorMessage" class="alert alert-danger mt-4 fs-6">
                <p class="m-0">{{newPasswordErrorMessage}}</p>
            </div>

        </div>

        <div *ngIf="successfullyChangedPage" class="d-flex flex-column align-items-center">

            <div class="text-center mb-3">
                <i class="success fa-regular fa-circle-check text-success"></i>
            </div>

            <div class="text-center mb-2">
                <h2 class="mb-3">Password Changed!</h2>
                <p class="fs-5">Your password has been changed successfully.</p>
            </div>

            <!-- <div>
                <p>Do you want to
                    <span routerLink="login" class="loginWord clickable fs-5 fw-bold fst-italic">
                        Login?
                    </span>
                </p>
            </div> -->

            <div class="fs-4 text-success">
                <i class="fa-solid fa-spinner fa-spin"></i>
            </div>

        </div>


    </div>


</div>