.emailInput {
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.emailInput:focus {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0px;
    box-shadow: none;
}

.emailLabel {
    color: gray;
    font-weight: 500;
}

.codeInput {
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.codeInput:focus {
    outline: none;
}

.zIndex{
    z-index: 5;
}