/* @import "../../../styles.css"; */

.icon {
    border-right: 1px solid black;
}

.searchInput::placeholder {
    font-weight: 400;
    color: rgba(83, 83, 83, 0.76);
    font-weight: 500;
}

.searchInput:focus {
    box-shadow: 0px 0px 5px var(--greenColor);
}

.borderColor:hover {
    border: 10px solid;
    border-color: var(--greenColor) !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.hide {
    opacity: 0;
}

.translate {
    animation: fadeUp 3s;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(-5px);
    }

    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}

.addToCartBtn {
    width: 100%;
    border: none;
    background-color: var(--bgColor);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    z-index: 2;
    height: 40px;
    transition: all 0.5s linear;
}

.addToCartBtn:hover {
    /* background-color: rgb(0, 90, 0) !important; */
    background-color: var(--mainColor);
    box-shadow: 0px 0px 2px var(--mainColor);
    
}

.wishlist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
    height: 40px;
    z-index: 1;
    width: 25%;
    background-color: var(--bgColor);
}

.item:hover .addToCartBtn {
    transition: all 0.5s;
    width: 70%;
}

.item:hover .wishlist {
    left: 75%;
}

.wishlist i {
    -webkit-text-stroke: 2px black;
    color: #EBEBEB;
    transition: all 0.2s;
}

.wishlist:hover i {
    color: #9B4444 !important;
    -webkit-text-stroke: 2px #9B4444;
}
