<div class="firstSlider row g-0">

    <div class="col-md-12 rounded-5 overflow-hidden">

        <owl-carousel-o [options]="customOptions">

            <ng-template carouselSlide>
                <div class="position-relative">
                    <div class="position-absolute top-50 translate-middle-y ms-5 text-black col-md-4">
                        <p class="bg-warning d-inline-block fw-bold px-1 rounded-2 fsxsm m-0">Free Shipping - orders
                            over
                            $100</p>
                        <h2 class="fw-bolder fsBig">Free Shipping on orders over <span class="mainColor">$100</span>
                        </h2>
                        <p class="text-muted fs-5">Free Shipping to First-Time Customers Only, After promotions and
                            discounts are applied.</p>
                    </div>
                    <img class="w-100 rounded-5" style="height: 500px;" src="./assets/images/images/slider-2.jpeg"
                        alt="grocery">
                </div>

            </ng-template>

            <ng-template carouselSlide>
                <div class="position-relative">

                    <div class="position-absolute top-50 translate-middle-y ms-5 text-black col-md-4">
                        <p class="bg-warning d-inline-block fw-bold px-1 rounded-2 fsxsm m-0">Opening Sale Discount
                            50%
                        </p>
                        <h2 class="fw-bolder fsBig">SuperMarket For Fresh Grocery</h2>
                        <p class="text-muted fs-5">Introduced a new model for online grocery shopping and convenient
                            home delivery.</p>
                    </div>

                    <img class="w-100 rounded-5" style="height: 500px;" src="./assets/images/images/slider-image-3.jpeg"
                        alt="grocery">
                </div>
            </ng-template>

        </owl-carousel-o>

    </div>

</div>

<div class="title1 my-4">
    <h2 class="fw-bold">Featured Categories</h2>
</div>

<div class="secondSlider">
    <owl-carousel-o [options]="customOptions2">
        <ng-container *ngFor="let slide of categories">
            <ng-template carouselSlide>
                <div class="border border-1 rounded-3 text-center">
                    <img style="height: 12.5rem;" class="mx-auto rounded-3 mb-2" [src]="slide.image" [alt]="slide.name">
                    <p class="text-black">{{slide.name}}</p>
                </div>
            </ng-template>
        </ng-container>

    </owl-carousel-o>
</div>

<div class="title2 d-flex justify-content-between align-items-center my-4">

    <h2 class="fw-bold">Popular Products</h2>

    <div class="align-items-center position-relative">

        <input class="searchInput form-control pe-5" value="amr" [(ngModel)]="searchValue" type="text"
            placeholder="Search for products">

        <i class="position-absolute end-0 top-50 translate-middle-y  me-2 fa-solid fa-magnifying-glass clickable"></i>
    </div>

</div>

<div class="Products row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4">

    <div *ngFor="let item of products|searchPipe:searchValue" class="col product">

        <div class="item p-3 pb-0 border border-1 borderColor rounded-3">

            <img src="{{item.imageCover}}" class="w-75 m-auto d-block mb-2 clickable" [alt]="item.title"
                [routerLink]="['/productDetails', item._id]" alt="">

            <span class="gray fsxsm fw-bold clickable"
                [routerLink]="['/productDetails', item._id]">{{item.subcategory[0].name}}</span>

            <p class="fw-bold m-0  clickable" [routerLink]="['/productDetails', item._id]">
                {{item.title.split('',17).join('').trim()}}{{item.title.length>15?'...':''}}</p>

            <div class="gray mb-2 fssm">
                <i class="fa-solid fa-star text-warning"></i>
                <span>{{item.ratingsAverage}}</span>
                <span>({{item.ratingsQuantity}})</span>
            </div>

            <div class="fw-bold">

                <span>{{item.price|currency:'EGP '}}</span>

                <div class="mt-2 position-relative">
                    <button type="button" class="addToCartBtn position-relative px-3"
                        (click)="addToCart(item._id,$event)">
                        Add to Cart
                    </button>
                    <button class="wishlist">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                </div>

            </div>

            <div [id]="item._id"
                class="hide text-success fsxsm d-flex align-items-center justify-content-center mt-2 fw-bold">
                <p class="m-0 me-2">Product added to your cart</p>
                <i class="fa-regular fa-circle-check"></i>
            </div>

        </div>

    </div>

</div>