.forgetPass:hover {
    color: blue;
    text-decoration: underline;
}

.panels-container {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 3;
    pointer-events: none;
}

.signIn-signUp::before {
    content: '';
    background-color: var(--mainColor);
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 1s ease-in-out;
}

.component-container.animate .signIn-signUp::before {
    left: -50%;
}

.component-container.animate .signUp-Panel {
    transform: translateX(100%);
    transition: all 1s;
    transition-delay: 0.5s;
}

.register-form {
    opacity: 0;
    transition: all 1s;
}

.component-container.animate .register-form {
    opacity: 1;
    transition: all 1s;
    transition-delay: 0.8s;
}

.signIn-Panel {
    transform: translateX(-100%);
    transition: all 1s;
    transition-delay: 0.5s;
}

.component-container.animate .signIn-Panel {
    transform: translateX(0);
    transition: all 1s;
    transition-delay: 0.5s;
    pointer-events: all;
}

.signUp-Panel {
    transform: translateX(0);
    transition: all 1s;
    transition-delay: 0.5s;
    pointer-events: all;
}

.login-form {
    opacity: 1;
    transition: all 1s;
    transition-delay: 0.8s;
}

.component-container.animate .login-form {
    opacity: 0;
    transition: all 1s;
}

/* ---------- */

label {
    position: absolute;
    left: 15px;
    top: 8px;
    pointer-events: none;
    color: rgb(163, 163, 163);
    transition: all 0.5s;
}

.input:not([value=''])~label,
.input:focus~label {
    top: -25px;
}

.position-relative span::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0%;
    height: 2px;
    background-color: var(--mainColor);
    transition: all 0.5s;
}

.input {
    width: 100%;
    border: none;
    background-color: rgb(243, 243, 243);
}

.input:focus {
    outline: none;
}

input:focus~span::before {
    width: 100%;
    left: 0;
    /* top: 100%; */
}

.signIn-signUp .btn {
    border: 1px solid var(--mainColor);
    border-radius: 7px;
    transition: all 0.2s;
}

.panels-container .btn {
    border: 1px solid white;
    border-radius: 7px;
    transition: all 0.2s;
    background-color: var(--mainColor);
    color: white;
}

:is(.signIn-signUp) .btn:hover,
.btn:focus {
    background-color: var(--mainColor) !important;
    border-color: var(--mainColor) !important;
    color: white !important;
}

:is(.panels-container) .btn:hover,
.btn:focus {
    background-color: white;
    color: black;
}


.test {
    gap: 0px 10px;
}

.alert {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}

@keyframes shake {


    0% {
        transform: translateX(1px);
    }

    25% {
        transform: translateX(-1px);
    }

    50% {
        transform: translateX(1px);
    }

    75% {
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(1px);
    }

}

.btnChange {
    display: none;
}


@media screen and (max-width:992px) {

    .login-form,
    .login-form>div {
        padding: 20px 10px !important;
    }

    .register-form,
    .register-form>div {
        padding: 20px 10px !important;
    }
}


@media screen and (max-width:770px) {

    body {
        height: 100dvh;
    }

    .signIn-signUp::before {
        left: 0;
        z-index: 0;
        /* top: 103.7%; */
    }

    .panels-container {
        display: none;
    }

    .login-form {
        opacity: 1;
        position: absolute;
    }

    .register-form {
        opacity: 0;
        transform: translateY(-100%);
    }

    #signUp-btn {
        border: 1px solid white !important;
    }

    .btn {
        background-color: var(--mainColor) !important;
        border-color: white !important;
        color: white !important;
    }

    .btn:hover,
    .btn:focus {
        background-color: white !important;
        border-color: white !important;
        color: black !important;
    }

    .btnChange {
        display: block;
        border: none;
        box-shadow: 0px 0px 10px var(--mainColor);
        outline: none;
        border-radius: 20px 20px 0px 0px;
        padding: 7px 35px;
        transition: 0.5s;
    }

    .btnChange:hover,
    .btnChange:focus {
        background-color: var(--mainColor);
        color: white;
        border: 1px solid white;
    }

    .login-form,
    .register-form {
        padding: 30px 10px !important;
    }

}