<div class="py-5">
    <div class="py-5">
        <div class="py-5">
            <div class="position-relative py-5">
                <div
                    class="position-absolute top-50 start-50 translate-middle border border-1 border-success rounded-3 p-4">
                    <p class="fs-2 fw-bold text-center">Payment Successful!</p>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <i class="fa-regular fa-circle-check text-success fs-1 my-2"></i>
                        <p class="fs-5 my-2">You payment has been processed successfully.</p>
                        <p class="fs-5 mb-2">Thank you for your Purchase!</p>
                    </div>
                    <div>
                        <button routerLink="/home" class="btn btn-dark w-100 my-2 mt-3 py-2 fs-6">Keep Shopping?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>