:root {
    --greenColor: rgb(9, 184, 9);
}

.clickable {
    cursor: pointer;
}

.active {
    color: var(--greenColor) !important;
}

.nav-link:hover {
    color: var(--greenColor) !important;
}

.fsxsm {
    font-size: 12px;
}
.fssm {
    font-size: 14px !important;
}

.fsBig{
    font-size: 50px;
}

.gray {
    color: gray;
}

.borderColor:hover{
    border-color: var(--greenColor) !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.mainColor{
    color: var(--greenColor);
}

.textShadow{
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.fw{
    font-weight: 700;
}

.nav-link2:hover {
    color: var(--greenColor) !important;
    border-bottom: 3px !important;
    border-color: var(--greenColor);
}

.nav-link2::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 160%;
    left: 0%;
    background-color: var(--greenColor);
    opacity: 0;
}

.nav-link2:hover::before{
    opacity: 1;
    transition: all 0.5s;
}

.active2{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 160%;
    left: 0%;
    background-color: var(--greenColor);
}
