:root {
    --greenColor: rgb(0, 150, 0);
    --mainColor: #B6C4B6;
    --bgColor: #EEF0E5;
    --btns: #163020;
}

.clickable {
    cursor: pointer;
}

.active {
    color: var(--greenColor) !important;
}

.nav-link:hover {
    color: var(--greenColor) !important;
}

.fsxsm {
    font-size: 12px;
}

.fssm {
    font-size: 14px !important;
}

.fsBig {
    font-size: 50px;
}

.gray {
    color: gray;
}

.mainColor {
    color: var(--greenColor);
}

.textShadow {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.fw {
    font-weight: 700;
}

.nav-link2:hover {
    color: var(--greenColor) !important;
    border-bottom: 3px !important;
    border-color: var(--greenColor);
}

.nav-link2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 160%;
    left: 0%;
    background-color: var(--greenColor);
    opacity: 0;
}

.nav-link2:hover::before {
    opacity: 1;
    transition: all 0.5s;
}

/* .active2 {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 160%;
    left: 0%;
    background-color: var(--greenColor);
}

.alert {
    padding: 10px 15px !important;
    font-size: 14px;
}*/

.fixedHeight {
    height: 12.5rem;
    width: 9.375rem;
}

/* .container{
    max-width: 1500px !important;
} */

.wishlist {
    border: none;
    background-color: rgba(226, 226, 226, 0.685);
    padding: 0px 15px;
    border-radius: 5px;
}

.wishlist:hover {
    background-color: rgba(128, 128, 128, 0.514);
    transition: all 0.5s;
}

/* loader */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.containSpinner {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------- */